.card {
    width: 700px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(206, 206, 206);
    border-radius: 0px;
    display: flex;
    flex-direction: row;
}

.cardIMG {
    width: 100px;
    height: initial;
    object-fit: contain;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
}

.cardText {
    display: inline;
}

.price {
    margin: 0px;
}

.usr_row {
    display: flex;
}

.usr_column {
    padding: 5px;
}

.btn {
    display: inline;
    margin: 10px;
}