<div class="card">
  <img src="../../assets/img/ebayDefault.png" alt="" class="cardIMG">
  <div class="cardText">
    <div class="">
      <a href="" target="_blank">
        FinalFantasy VLL: Remake - PlayStation4New
      </a>
    </div>
    <div class="">
      <p class="price">Price: $349.95</p>
      <p class="priceTag_loc"><i>Sunny Valley </i></p>
    </div>
    <mat-tab-group>
      <mat-tab label="Basic Info">
        <div class="usr_row">
          <div class="usr_column">
            <p>price</p>
            <p>condition</p>
          </div>
          <div class="usr_column">
            <p>30 dollars</p>
            <p>new</p>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Shipping Info">
        <h1>Some more tab content</h1>
        <p>...</p>
      </mat-tab>
      <mat-tab label="Listing Info">
        <h1>Some more tab content</h1>
        <p>...</p>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
