/* Three image containers (use 25% for four, and 50% for two, etc) */
.mainpage {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  position: relative;
  /*border: 1px solid black;*/
}

.blogpics {
  display: flex;
  flex-direction: column;
}

.column {
  display: flex;
  float: left;
  /* align-items: center;
  justify-content: center; */
  width: 300px;
  height: 300px;
  padding: 5px;
  /*border: 1px solid black;*/
}
.navbar{
  display: flex;
  flex-direction: column;
  text-align: center;
}

#JamesJantz {
  display: flex;
}

.links{
  display: flex;
  flex-direction: row;
  margin: auto;
}

.links p{
  margin: 20px;
}

.column img{
  height: 100%;
  width: 100%;
  margin: auto;
  object-fit: cover;
}

/* Clear floats after image containers */
.row {
  /* content: "";
  clear: both; */
  display: flex;
  flex-direction: row;
  margin: auto;
  /*border: 1px solid black;*/
  justify-content: center;
}

.center {
  margin: auto;
  width: 70%;
  height: 400px;
  /*border: 3px solid green;*/
  padding: 10px;
}