
.body {
    background-color: blue;
    margin: 0px;
}

.mainPage {
    width: 710px;
    height: 650px;
    padding-left: 30px;
    /* border: 1px solid orange; */
    flex-direction: column;
    justify-content: center;
    margin: auto;
    position: relative;
    background-color: aqua;
}

.headline {
    width: 100%;
    height: 99px;
    margin: auto;
    background-image: url(header.png);
    background-size: cover;
    padding-left: 20px;
}


#mainHeaderWrapper{
    background: no-repeat url(header.png);
}
#mainHeaderWrapper img{
    vertical-align: top;
    width: 100%; /* max width */
    opacity: 0;  /* make it transparent */
}
#mainHeaderWrapper > div{
    position: absolute;
    top: 0;
    width: 100%;
    height: 99px;
    margin-left: 5%;
}
#mainHeaderWrapper > div > p{
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 3.5%;
}

.row {
    /* border: 1px solid red; */
    display: flex;
    background-image: url(bar.png);
    height: 57px;
    width: 680px;
}

.column {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
}

#firstCol {
    padding-left: 30px;
}

.column > a {
    padding: 30px;
    text-decoration: none;
    color: black;
}

.h_text, .p_text {
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.h_text {
    color: rgba(44, 35, 102, 0.945);
    font-size: 24px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.p_text {
    /* font-weight: 400; */
    line-height: 12px;
    font-size: small;
}