
#ebayLogo {
    display: block;
    padding-top: 20px;
    /* width: 300px; */
    height: auto;
    object-fit: contain;
    margin: auto;
}

:app-root {             

    display: block;
    left: 0;

    width: 200px;    

    height: 20px;
}