<div *ngIf="dataLength" class="col-sm-8 offset-sm-2 module">
  <!-- <button class="btn btn-light" (click)="displayData()">display data</button> -->
  <div class="row">
    <p class="navBarText">Results for {{keyword}} </p>
    <pagination-controls class="navBar col-9" (pageChange)="p = $event"></pagination-controls>
  </div>
  
  <ul class="">
    <li *ngFor="let item of data | paginate: { itemsPerPage: 5, currentPage: p }">
      <app-card class="" [cardData]="item"></app-card>
    </li>
  </ul>

</div>
