<hr *ngIf="!dataLength">
<div *ngIf="dataLength" class="col-sm-8 offset-sm-2 module">
  <!-- <button class="btn btn-light" (click)="displayData()">display data</button> -->
  <div class="row">
    <p class="navBarText">Results for {{keyword}} </p>
    <div class="pages1">
    <pagination-controls class="navBar col-md-12" 
      (pageChange)="p = $event" maxSize="10"> 
    </pagination-controls></div>
    <div class="pages2">
      <pagination-controls class="navBar col-md-12" 
        (pageChange)="p = $event" maxSize="5"> 
      </pagination-controls></div>
  </div>
  
  <ul class="">
    <li *ngFor="let item of data | paginate: { itemsPerPage: 5, currentPage: p }">
      <app-card class="" [cardData]="item"></app-card>
    </li>
  </ul>

</div>
