.module {
    margin-top: 100px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* width: 700px; */
}

ul {
    padding-left: 0px;
}

li {
    list-style: none;
}

.navBar {
    /* float: right; */
}

.navBarText {
    /* float: left; */
    font-size: large;
    font-weight: 550;
}