.module {
    margin-top: 100px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* width: 700px; */
}

ul {
    padding-left: 0px;
}

li {
    list-style: none;
}

.navBar {
    float: right;
    font-size: small;
}

.navBarText {
    /* float: left; */
    font-size: large;
    font-weight: 550;
    padding-left: 15px;
}

.pages1{
    display: flex;
}

.pages2{
    display: none;
}

@media screen and (max-device-width:600px){
    .pages1{
        display: none;
    }
    
    .pages2{
        display: flex;
    }
}