.col-form-label {
    font-weight: 600;
}

.form-check-inline {
    font-weight: 600;
}

#form {
    width: 700px;
    margin: auto;
}

#ebayLogo {
    display: block;
    width: 300px;
    height: auto;
    object-fit: contain;
    margin: auto;
}

.floatRight {
    display: block;
    float: right;
}

.card {
    display: block;
    width: 200px;
}

:app-root {             

    display: block;
    left: 0;

    width: 200px;    

    height: 20px;
}