.card {
    /* width: 700px; */
    /* margin: auto; */
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(238, 238, 238);
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    padding: 15px;
}

@media screen and (max-device-width:600px){
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.cardIMG {
    /* width: 100px; */
    height: initial;
    object-fit: contain;
    /* margin-top: 5px; */
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    display: block;
}

.productLink {
    font-size: 17px;
}

.image {
    object-fit: contain;
}

.cardText {
    display: inline;
}

.price {
    margin: 0px;
}

.usr_row {
    display: flex;
}

.usr_column {
    padding: 5px;
}

.btn {
    display: inline;
    /* margin: 10px; */
    margin-left: 7px;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn {
    /* color: #fff; */
    /* background-color: #00b3db; */
    border-color: #2298e7; /*set the color you want here*/
    border-width: 2px;
}

.greenTick {
    color: green;
}

.redCross {
    color: red;
    display: block;
}

.pAlign p {
    margin-bottom: 8px;
}