<div class="card">
  <div class="col-sm-2 col-6 no-gutters image">
    <img *ngIf="cardData.galleryURL[0] != 'https://thumbs1.ebaystatic.com/pict/04040_0.jpg'; else defaultPic"
    src="{{cardData.galleryURL[0]}}" class="cardIMG col-sm-12">
    <ng-template #defaultPic>
      <img src="../../assets/img/ebayDefault.png" class="cardIMG col-sm-12">  
    </ng-template>
  </div>
  <div class="cardText col-sm-10">
    <div class="productLink">
      <a class="productLink" href="{{cardData.viewItemURL[0]}}" target="_blank">
        {{cardData.title[0]}}
      </a>
    </div>
    <div class="">
      <p class="price"><b>Price: </b> {{cardData.sellingStatus[0].convertedCurrentPrice[0].__value__}}</p>
      <span class="priceTag_loc"><i>{{cardData.location[0]}}</i></span>
      <button type="button" class="btn btn-light" (click)="click()">{{buttonText}}</button>
    </div>
    <mat-tab-group *ngIf="displayTab">
      <mat-tab label="Basic Info">
        <div class="usr_row">
          <div class="usr_column">
            <p>Category Name</p>
            <p>Condition</p>
          </div>
          <div class="usr_column">
            <p>{{cardData.primaryCategory[0].categoryName[0]}}</p>
            <p>{{cardData.condition[0].conditionDisplayName[0]}}</p>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Shipping Info">
        <div class="usr_row">
          <div class="usr_column">
            <p>ShippingType</p>
            <p>ShippingCost</p>
            <p>ShipToLocations</p>
            <p>ExpeditedShipping</p>
            <p>OneDayShippingAvailable</p>
          </div>
          <div class="usr_column">
            <p>{{cardData.shippingInfo[0].shippingType[0]}}</p>
            <p>{{cardData.shippingInfo[0].shippingServiceCost[0].__value__}}</p>
            <p>{{cardData.shippingInfo[0].shipToLocations[0]}}</p>
            <ng-template #redCross><p class="material-icons redCross">clear</p></ng-template>
            <p *ngIf="cardData.shippingInfo[0].expeditedShipping[0] == 'true';else redCross">
              <span class="material-icons greenTick">done</span>
            </p>
            <p *ngIf="cardData.shippingInfo[0].oneDayShippingAvailable[0] == 'true';else redCross">
              <span class="material-icons greenTick">done</span>
            </p>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Listing Info">
        <div class="usr_row">
          <div class="usr_column">
            <p>BestOfferEnabled</p>
            <p>BuyItNowAvailable</p>
            <p>ListingType</p>
            <p>Gift</p>
            <p>WatchCount</p>
          </div>
          <div class="usr_column pAlign">
            <p *ngIf="cardData.listingInfo[0].bestOfferEnabled[0] == 'true';else redCross">
              <span class="material-icons greenTick">done</span>
            </p>
            <p *ngIf="cardData.listingInfo[0].buyItNowAvailable[0] == 'true';else redCross">
              <span class="material-icons greenTick">done</span>
            </p>
            <p>{{cardData.listingInfo[0].listingType[0]}}</p>
              <p *ngIf="cardData.listingInfo[0].gift[0] == 'true';else redCross">
                <span class="material-icons greenTick">done</span>
              </p>
            <p>{{cardData.listingInfo[0].watchCount[0]}}</p>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>