.logo {
    width: 316px;
    display: flex;
    flex-direction: row;
    margin: auto;
    /* border: 1px solid orange; */
}

.logo > p {
    font-size: 30px;
    font-weight: 700;
}

.logo > a {
    max-width: 200px;
    max-height: 150px;
}

.logo > a > img {
    object-fit: contain;
    width: 200px;
    height: 100px;
}

#form {
    text-align: center;
    width: 600px;
    margin: auto;
    border: 1px solid black;
}

.row {
    border: 1px solid rgba(128, 128, 128, 0.616);
    padding: 10px;
}

.rowHead {
    font-weight: bold;
}

#sortBy {
    text-align: center;
}

select { width: 200px; text-align-last:center; }

.button {
    border-radius: 5px;
    background-color: rgb(223, 223, 223); 
    border: none;
    color: black;
    padding: 5px;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
    border-radius: 2px;
}

#summary {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin: auto;
    padding-top: 20px;
    display: none;
    width: 710px;
}

#cards {
    width: 700px;
    margin: auto;
}

.card {
    /* height: 230px; */
    display: none;
    background-color: rgb(241, 241, 241);
    border: 2px solid gray;
    border-radius: 5px;
    margin: 5px;
    padding: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardIMG {
    padding: 25px;
    width: 15%;
    height: auto;
    object-fit: contain;
    transition: transform .5s;
}

.cardIMG:hover {
    transform: scale(1.5);
}

.horizontalFlex {
    display: flex;
}

.priceTag_loc {
    padding-left: 10px;
}

.paragraph a {
    margin: 15px;
}

.paragraph p {
    margin: 15px;
}

.redirectIMG {
    height: 20px;
    width: 20px;
}

.topRatedIMG {
    height: 30px;
    width: 30px;
}

.bottom {
    display: none;
    margin: auto;
}

.canHide {
    display: none;
}