.col-form-label {
    font-weight: 600;
}

.form-check-inline {
    font-weight: 600;
}

/* #form {
    width: 700px;
    margin: auto;
} */

.floatRight {
    display: block;
    float: right;
}

.floatRight a {
    margin: 5px;
}
